name: Test Runner

on:
  push:
    branches:
      - main

jobs:
  test-runner:
    runs-on:
      - self-hosted
      - linux
      - x64

    steps:
      - name: Vérification
        run: echo "Test de fonctionnement du Runner !"

      - name: Tests système
        run: |
          echo "Runner OK"
          hostname
          whoami
          uname -a
